%div.chat__body__content
  %div.chat__body__content__title
    %span.chat__body__content__title__user-name 太郎
    %span.chat__body__content__title__timestamp 2018/11/11 12:12:30
  %div.chat__body__content__text お腹すいた・・・・？

%div.chat__body__content
  %div.chat__body__content__title
    %span.chat__body__content__title__user-name 田中たかし
    %span.chat__body__content__title__timestamp 2018/11/11 12:12:30
  %div.chat__body__content__text 鈴木・・・・？

%div.chat__body__content
  %div.chat__body__content__title
    %span.chat__body__content__title__user-name 剛田武
    %span.chat__body__content__title__timestamp 2018/11/11 12:12:30
  %div.chat__body__content__text のび太・・・・
