%div.header
  %span チャットグループが作成されました


%div.sidebar
  %div.sidebar__user
    %div.sidebar__user__content
      %span.sidebar__user__content__name ユーザー名
      %div.sidebar__user__content__icon
        =link_to "/" do
          %i.fa.fa-edit
        =link_to "/" do
          %i.fa.fa-cog
  %div.sidebar__groups
    %div.sidebar__groups__content
      %div.sidebar__groups__content__name 参加グループ1
      %div.sidebar__groups__content__latest-message 直近のメッセージ


%div.chat
  %div.chat__header
    %div.chat__header__group
      %div.chat__header__group__name グループ名
      %span.chat__header__group__edit-button.edit-btn Edit
      %div.chat__header__group__members Members: メンバー1、メンバー2、メンバー3

  %div.chat__body

    = render partial: 'message'

  %div.chat__footer
    %div.chat__footer__post
      %form.chat__footer__post__form
        %textarea.chat__footer__post__form__text{:placeholder => "type a message"}
        %label.chat__footer__post__form__upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
            %input{:type => "file", :id => "upload-icon"}
      %input.chat__footer__post__submit-button.send-btn{:type => "submit", :value => "send"}
