$darkNavyColor: #253142;

$mainNavyColor: #2f3e51;

$whiteTextColor: #FFFFFF;



$mailTitleColor: #333333;

$subTitleColor: #999999;

$borderColor: #eeeeee;

$mainTextColor: #434A54;

$mainBackgroundColor: #F1F1F1;

$subBackgroundColor: #AAAAAA;


$subBlueColor: #28AEF0;
